.add-product {
    box-sizing: border-box;
    width: 200%;      /* changing  */
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    margin-left: 52px;  /* changes */
    border-radius: 6px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.addproduct-itemfield {
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
    margin-bottom: 20px;
}

.addproduct-itemfield input,
.add-product-selector {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}

.add-product-selector {
    padding: 10px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}

.addproduct-thumbnail-img {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0px;
}

.addproduct-btn {
    margin-top: 70px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.add-product-textarea {
    width: 100%;
    height: 150px; /* Adjust the height as per your preference */
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}

.add-product-textarea {
    width: 97%;
    height: 80px; /* Adjust the height as per your preference */
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}


.main-image {
    margin-bottom: 20px;
    padding: 10px;
    /* border: 2px solid red; */
  }
  
  .main-image img {
    max-width: 100%;
    height: 200px;
  }
  
  .images-container {
    display: flex;
    flex-direction: column; /* Display images in column layout */
    align-items: center; /* Center the images horizontally */
    width: 80%;
    /* border: 2px solid red; */
    padding: 10px;

    

  }
  
  /* .thumbnail-images{
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 10px;  
    
  } */
  

  .original-images {
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 10px; 
  }
  
  /* .thumbnail-images img{
    width: 100px; 
    height: auto;
    cursor: pointer;
    margin: 5px; 

  } */
  
  .original-images img {
    width: 100px; /* Adjust width as needed */
    height: auto;
    cursor: pointer;
    margin: 5px; 

  }
  
  .thumbnail-images img:hover,
  .original-images img:hover {
    border: 2px solid red; /* Example border color */
    border-radius: 50%;
  }
  

@media (max-width: 800px) {
    .add-product {
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}
